.newFishBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.newFishInput {
  display: flex;
  flex-direction: column;

}
.fishInput {
  margin:auto;
  padding: 5px;
  width: 150px;
  text-align: center;
}

.fishButton {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #eb94d0;
  background-image: linear-gradient(to top, #05570a, #00744e, #008f89, #36a7ba, #82bede);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
  color: #fafafa;
  font-size: 18px;
  padding: 7px;
  text-decoration: none;
}

.fishButton:hover {
  background: #2079b0;
  background-image: linear-gradient(to top, #82bede, #36a7ba, #008f89, #00744e, #05570a);
  text-decoration: none;
}
