.navMenu {
  display: flex;
  text-align: center;
  justify-content: center;
  width: auto;
  margin-left: -2%;

}

.navLink {
  list-style: none;
}

.navUL {
  display: flex;
  justify-content: center;
}

body {
  background-color: #F9F9F9;
}

a{
  color: black;
  text-decoration: none;
}
