.home-page {
    display: flex;
    flex-direction: column;
}
.embeded-tweet {
    display: flex;
    box-shadow: 1px 1px 3px 2px #00000030;
    margin: 10px;
}
.tweet-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.LureBox {
  width:120px;
  height:240px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    font-size: 20px;
    width: 80%;
    margin-bottom: 10px;
    border-bottom: #a59b9b solid 1px;
    padding-bottom: 10px;
}