.previousFishBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.fishUL {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.description {
  font-weight: bold;
}

.deleteButton {
  border-style: none;
  background-color: #F9F9F9;
  margin-left: 10px;
  cursor: pointer;
}

.locationButton {
  margin-right: 10px;
}

.fishLI {
  border-bottom:  2px black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: groove;
  margin-bottom: 10px;
  margin-right: 5%;
  margin-left: 5%;
}

p {
  padding: 10px;
}
