/* .previousFishBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}




.description {
  font-weight: bold;
}



.locationButton {
  margin-right: 10px;
}

.fishLI {
  border-bottom:  2px black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: groove;
  margin-bottom: 10px;
  margin-right: 5%;
  margin-left: 5%;
}

p {
  padding: 10px;
} */

.fishies {
  box-shadow: 1px 1px 3px 2px #00000030;
  margin: 10px;
  display: flex;
  background-color: lightblue;
}

.fish-detail-box {
  display: flex;
  flex-direction: column;
}
.fish-flexing {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.fish-styling {
  font-weight: bolder;
  display: flex;
}
.display-fish {
  flex-wrap: wrap;
  margin: 7px;

}

.complete-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fish-buttons {
  display: flex;
  justify-content: space-evenly;
}
.location-button {
  height: 20px;
  background-color: #2fa92f;
  align-items: center;
  border-style: none;
  border-radius: 3px;
  color: #fff;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  font-weight: bolder;
}

.delete-button {
  height: 20px;
  background-color: red;
  align-items: center;
  border-style: none;
  border-radius: 3px;
  color: #fff;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  font-weight: bolder;
}
.twitter-button {
  height: 25px;
}
.location-button:hover {
  cursor: pointer;
  background-color: #248624
}
.delete-button:hover {
  cursor: pointer;
  background-color: #cc1f1f;
}

h1, h2 {
  text-align: center;
}
.pin-icon {
  height: 14px;
  width: 14px;
  margin-right: 3px;
}
.x-icon {
  height: 14px;
  width: 14px;
  margin-right: 3px;
}

p {
  font-weight: 400;
  margin: 0px;
  margin-left: 5px;
}

.fishUL {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newFishInput {
  padding-top: 25px;
}
