/* .previousFishBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}




.description {
  font-weight: bold;
}



.locationButton {
  margin-right: 10px;
}

.fishLI {
  border-bottom:  2px black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: groove;
  margin-bottom: 10px;
  margin-right: 5%;
  margin-left: 5%;
}

p {
  padding: 10px;
} */

.fishies {
  box-shadow: 1px 1px 3px 2px #00000030;
  margin: 10px;
  display: flex;
  background-color: lightblue;
}

.fish-detail-box {
  display: flex;
  flex-direction: column;
}
.fish-flexing {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.fish-styling {
  font-weight: bolder;
  display: flex;
}
.display-fish {
  flex-wrap: wrap;
  margin: 7px;
}

.complete-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fish-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.deleteButton {
  border-style: none;
  background-color: #F9F9F9;
  margin-left: 10px;
  cursor: pointer;
}

h1, h2 {
  text-align: center;
}


p {
  font-weight: 400;
  margin: 0px;
  margin-left: 5px;
}

.fishUL {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newFishInput {
  padding-top: 25px;
}
