
.weather-forecast {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.forecasts {
  box-shadow: 1px 1px 3px 2px #dddddd;
  margin: 10px;
  display: flex;
  background-color: lightblue;
}

.display-forecasts {
  display: flex;
  flex-wrap: wrap;
  margin: 7px;
  justify-content: center;
}

.forecast-box {
  display: flex;
  flex-direction: column;
}

.complete-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-submit {
  justify-content: space-evenly;
}

.forcast-flexing {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}
.forcast-styling {
  font-weight: bolder;
  display: flex;
}

li {
  list-style: none;
}

ul {
  padding: 0 7px 0 7px;
}
p {
  font-weight: 400;
  margin: 0px;
  margin-left: 5px;
}